* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#array {
background-color: white;
height: 35px;
width: 598px;
margin: auto;
position: relative;
margin-top: 64px;
}

.block {
width: 28px;
position: absolute;
bottom: 0px;
transition: 0.2s all ease;
}

.block_id {
position: absolute;
color: white;
width: 100%;
text-align: center;
}

.block_number {
position: absolute;
color: black;
margin-top: -20px;
width: 100%;
text-align: center;
}

.selected_ele {
position: absolute;
margin-left: -5px;
margin-top: -40px;
text-align: center;
}